{#
    Copyright © 2014 mparaiso <mparaiso@online.fr>. All Rights Reserved.
    views/profile/video-update.twig
#}
{% extends 'layout.twig' %}
{% block profile_content %}
<h2><small>{{video.title}}</small></h2>
<p>
	<img src="{{video.thumbnail}}" alt="{{video.title}}" title="{{video.title}}">
</p>
<form action="" method="POST" role="form">
	<fieldset>
		<legend>Update video </legend>
		{% for field in form.getFields() %}
		<div class="form-group">
			{{field.toHTML()}}
		</div>
		{% endfor %}
		<input type="hidden" name="_csrf" value="{{_csrf}}">
		<input type="reset" class="btn btn-default">
		<input type="submit"  class="btn btn-default">
	</fieldset>
</form>
{% endblock %}
