{% if playlists %}
	{% for page in paginate(playlists,row_length||6) %}
	<section class="row">
		{%for playlist in page %}
		<article class="col-md-3 video">
			<a title="{{playlist.title}}" href="/playlist/{{playlist.id}}"><img class="thumb" src="{{playlist.thumbnail}}" alt="{{playlist.title}}"></a>
			<div class="info truncate">
				<span><a title="{{playlist.title}}" href="/playlist/{{playlist.id}}">{{playlist.title}}</a></span>
			</div>
			<div>
            {% if user && isAuthenticated && playlist.owner.id == user.id %}
                <a href="/profile/playlist/{{playlist.id}}/update">update</a> | 
                <form class="inline" action="/profile/playlist/{{playlist.id}}/delete" method="POST">
                    <button class="btn-link inline" type="submit">remove</button>
                    <input type="hidden" name="_csrf" value="{{_csrf}}" />
                    <input type="hidden" name="_redirect" value="{{_redirect}}" />
                </form>
            {% endif %}
            </div>
            
            <div>&nbsp;</div>
		</article>
		{% endfor %}
	</section>
	{% endfor %}
{% else %}
<h3>No playlist found.</h3>
{% endif %}
