{#
    Copyright © 2014 mparaiso <mparaiso@online.fr>. All Rights Reserved.
    views/includes/video-list.twig
#}
{% if videos %}
	{% for page in paginate(videos,row_length||6) %}
	<section class="row">
		{%for video in page %}
		<article class="col-md-3 video">
			<a title="{{video.title}}" href="/video/{{video.id}}"><img class="thumb" src="{{video.thumbnail}}" alt="{{video.title}}"></a>
			<div class="info truncate">
				<a title="{{video.title}}" href="/video/{{video.id}}">{{video.title}}</a>
			</div>
            	<div>
            {% if user && isAuthenticated && video.owner.id == user.id %}
                <a href="/profile/video/{{video.id}}/update">update</a>  |
                <form class="inline" action="/profile/video/{{video.id}}/delete" method="POST">
                <input type="hidden" name="_csrf" value="{{_csrf}}" />
                <button type="submit" class="btn-link inline">remove</button>
                </form>
            {% endif %}
            </div>
            <div>&nbsp;</div>
		</article>
		{% endfor %}
	</section>
	{% endfor %}
{% else %}
<h3>No video found.</h3>
{% endif %}
