{% extends 'layout.twig' %}
{% block content %}
    <div class="row">
        <h3 class="muted col-md-12">{{ pageTitle|default("Latest Videos") }}</h3>

        <p>&nbsp;</p>
    </div>
    <div class="row">
        <div class="col-md-2 truncate">
            <ul class="list-unstyled">
                <li>
                    <p>Topics</p>
                </li>
                {% for category in categories %}
                    <li class="truncate">
                        <p><a href="/category/{{ category.id }}/{{ category.title }}">{{ category.title }}</a>
                        </p>
                    </li>

                {% endfor %}
                {% if playlists %}
                    <li>
                        <p>Latest playlists</p>
                    </li>
                    {% for playlist in playlists %}
                        <li class="truncate">
                            <p>
                                <a href="/playlist/{{ playlist.id }}">{{ playlist.title }}</a>
                            </p>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="col-md-10">
            {% if videos.length > 0 %}
                {% for page in paginate(videos,4) %}
                    <div class="row">
                        <section class="row">
                            {% for video in page %}
                                <article class="col-md-3 video">
                                    <a title="{{ video.title }}" href="/video/{{ video.id }}"><img class="thumb"
                                                                                                   src="{{ video.thumbnail }}"
                                                                                                   alt="{{ video.title }}"></a>

                                    <div class="info truncate">
                                        <a title="{{ video.title }}" href="/video/{{ video.id }}">{{ video.title }}</a>
                                    </div>
                                    <div class="owner">
                                        {% if video.owner %}
                                            {{ video.owner.username }}
                                        {% else %}
                                            anonymous
                                        {% endif %}
                                    </div>
                                    <div>&nbsp;</div>
                                </article>
                            {% endfor %}
                        </section>
                    </div>
                {% endfor %}
            {% else %}
                <h2>No video found.</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}
