{# a video from a playlist , with other videos from the same playlist the right hand  #}
{% extends 'layout.twig' %}
{% block title %} {{title}} -- {{video.title}} {%endblock%}
{% block content %}
<section class="row">
	<article class="col-md-8">
        {% if video %}
		    {%autoescape false %}{{player.toHTML()}}{%endautoescape%}
        {% endif %}
		<div>
			<h3>{{video.title}} </h3>
			<h4><small>{{video.publishedAt.toString()}}</small></h4>
			<h5 class="owner">
				{% if video.owner %}
				{{video.owner.username}}
				{% else %}
				anonymous
				{% endif %}
			</h5>
			{% if user and video.owner and user.id == video.owner.id %}
			<ul class="nav-pills nav">
				<li><a href="/profile/video/{{video.id}}/update">update</a></li>
				<li><a href="/profile/video/{{video.id}}/remove">remove</a></li>
			</ul>
			<hr>
			{% endif %}
			<pre class="unstyled">{{video.description}}</pre>

		</div>
		<div>&nbsp;</div>
	</article>
	<aside class="col-md-4">
		<h4>{{playlist.title}}</h4>
		{% for item in playlist.videos %}
		<div class='row'>
			<div class="col-md-6">
				<a href="/playlist/{{playlist.id}}?videoId={{item.id}}">
					<img width="100%" class="thumbnail" src="{{item.thumbnail}}" alt="{{item.title}}"/>
				</a>
			</div>
			<div class="col-md-6">{{item.title}}</div>
			<div>&nbsp;</div>
		</div>
		{% endfor %}
	</aside>
</section>
{% endblock %}
