{% extends 'layout.twig' %}
{% block content %}
<h1>Search</h1>
<hr>
{% if videos and videos.length > 0 %}
<h2 class="muted"><small>Results for "{{q}}"</small></h2>
{% for video in videos %}
<div class="row">
	<div class="col-md-2">
		<a href="/video/{{video.id}}">
			<img class="thumb" width="100%" src="{{video.thumbnail}}" alt="">
		</a>
	</div>
	<div class="col-md-9">
		<a href="/video/{{video.id}}">
			<h4>{{video.title}}</h4>
			<p class="truncate">{{video.description}}</p>
		</a>
	</div>
</div>
<div>&nbsp;</div>
{% endfor %}

{%else%}
<h2 class="text-warning">No Video Found for search "{{ q }}"</h2>
{% endif %}
{% endblock %}
