{# a single video view , with similar items on the right hand  #}
{% extends 'layout.twig' %}
{% block title %} {{title}} -- {{video.title}} {%endblock%}
{% block content %}
<section class="row">
    <article class="col-md-8">
        {%include 'includes/video-read.twig'%}
    </article>
	<aside class="col-md-4">
		{% for video in videos %}
		<div class='row'>
			<div class="col-md-6">
				<a href="/video/{{video.id}}">
					<img width="100%" class="thumbnail" src="{{video.thumbnail}}" alt="{{video.title}}"/>
				</a>
			</div>
			<div class="col-md-6">{{video.title}}</div>
			<div>&nbsp;</div>
		</div>
		{% endfor %}
	</aside>
</section>
{% endblock %}
